.playing_field {
  display: grid;

  margin-left: auto;
  margin-right: auto;

  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1;
}
.playing_field__img {
  height: 100%;
  width: auto;

  object-fit: cover;
  overflow: hidden;
}
